@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Mouse+Memoirs&family=Rye&family=Special+Elite&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0A0A0A;
    color: white;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #ff5dc9;
    box-shadow: #f743bb 0px 2px 8px 0px;
    width: 97%;
    height: 90px;
    margin: 0px auto;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-logo{
    font-family:  "Special Elite", system-ui;
    font-size: 40px;
    text-shadow: 2px 2px black;
}
.navbar-desc{
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.container1{
    width: 60%;
}
.container2{
    width: 30%;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
}
.joke-container{
    display: flex;
    justify-self: center;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
    width: 90%;
    height: auto;
    margin-top: 15px;
    text-indent: 2%;
    font-size: medium;   
    font-weight: lighter;
}

#balz {
    text-wrap: nowrap;
    color: #4d4d4d;
}

#balz2 {
    text-wrap: wrap;
    color: #ffffff;
    font-size: larger;
}

@media (width < 1200px) {
    #balz {
        text-wrap: wrap; 
        font-size: medium; 
    }
}

@media (width < 1000px) {
    .container {
        font-size: x-small; 
    }
}

.selection-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#dropdown,
#kate{
    background-color: #f743bb;
    color: white;
    border: 2px solid rgb(182, 39, 134);
    border-radius: 7px;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 20px;
}
#dropdown::placeholder,
#kate::placeholder{
    color: rgb(182, 39, 134);
}
ul{
    font-size: 28px;
}
h2{
    font-family: "Changa", sans-serif;
}
